.buttons{
	padding: 20px;
	margin:20px;

}

.hero {
	margin:5px;
	border-radius: 15px;
	border-color: #000099;
	background: #ccccff;
}

body{
	/*wow this color is horrible */
	background: #20c997;

}

.display {
	margin:5px;
	height: 300px;
	width:400px;
}